# msmtp config for Gmail
# Copy this to ~/.msmtprc and chmod 600 ~/.msmtprc

defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

account        gmail
host           smtp.gmail.com
port           587
from           youremail@gmail.com
user           youremail@gmail.com
password       "your app password"


account default : gmail
